{# Rota inicial que renderiza uma página com um formulário com um único campo age
que representa a idade do usuário; #}
<h1>Write your age below:</h1>
<form action='/check' method='POST'>
  <input name='Age' />
  <button type='submit'>Check!</button>
</form>
