{# Rota que renderiza uma página com o texto: Você é maior de idade e
possui x anos , onde x deve ser o valor informado no input do formulário; #}

<h1>You are a over eighteen and is {{ age }} years old!</h1>
