{# Rota que renderiza uma página com o texto: Você é menor de idade e
possui x anos , onde x deve ser o valor informado no input do formulário; #}

<h1>You are a minor and is {{ age }} years old!</h1>
