<h1>New user</h1>

{# if method=GET, the form fields will be sent in the query pattern /?field1=value1&field2=value2 ...#}
{# if you don't want to show all the fields in the url, use POST !recommended! #} 
{# action receives the route to go after the submission #}
<form action="/create" method="POST">
  <input name="user" />
  <button type="submit">Salvar</button>
</form>

<a href="/">Users list</a>