Password recovery
A password request was made for user with email ({{ email }}). If you did not make this request, change your password, just to be sure.
To recover your password use this token {{token}} or click on the link below:
Create new password
