<strong>Password recovery</strong>
<p>A password request was made for user with email ({{ email }}). If you did not make this request, change your password, just to be sure.</p>
<p>To recover your password use this token {{token}} or click on the link below:</p>
<a href="{{link}}">Create new password</a>
