{% extends "_layouts/default.njk" %}
{% block body %}
<div class="content">
  <strong>Booking appointment with:</strong>
  <div class="provider">
    <div>
      <img src="/files/{{provider.avatar}}" />
      <strong>{{ provider.name }}</strong>
    </div>
  </div>

  <form action="/app/appointments/new/{{ provider.id }}" method="post">
    <input type="text" class="flatpickr" placeholder="Choose a date">
    <div id="hours">
      {% include "../available/index.njk" %}
      
    </div>
    <button type="submit">Book</button>
  </form>


</div>

<script type="text/javascript">
  flatpickr('.flatpickr', {
    minDate: new Date(), // today is the minimum date, can't book to the past
    dateFormat: 'm/d/Y',
    onChange: function (date) {
      fetch(`/app/available/{{provider.id}}?date=${date[0].getTime()}`).then(function(response) {
        response.text().then(function(html){
          document.getElementById('hours').innerHTML = html
        })
      })
    }
  })
</script>
{% endblock %}